@import "tailwindcss";

* {
  font-family: "Prompt";
}

.sidebar-menu {
  @apply flex flex-col gap-2;
}

.sidebar-menu li {
  @apply flex items-center gap-2 text-xl;
}

.btn-primary {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md;
}

.input {
  @apply p-2 w-full border border-gray-400 rounded-md bg-white;
}


